.card {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 8px;
  max-width: 300px;
  margin: 16px;
  overflow: auto;
  background-color: #fff;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 16px;
}

.card-title {
  font-size: 1.5em;
  margin: 0 0 8px 0;
}

.card-content {
  font-size: 1em;
}

.card--outlined {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
